.settings-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(70,108,70);
    color:  rgb(70,108,70);
    text-align: left;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.settings-card:hover {
    background: rgb(57, 80, 57);
    color: white;
}

.settings-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.settings-card p {
    font-size: 14px;
    color: inherit;
}

.account-settings {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.account-header {
    text-align: center;
    margin-bottom: 20px;
}

.settings-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.account-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.account-footer a {
    color: rgb(70,108,70);
    text-decoration: none;
}

.account-footer a:hover {
    text-decoration: underline;
}