.click-text-container {
  width: 100%;
  text-align: left;
  margin: 10px;
  padding-left: 35px;
}

.click-text {
  font-size: 1.2rem;
  color: #333; /* Adjust the color as needed */
}

.service-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 0; /* Removed extra margin-top as it's handled by click-text-container */
  margin-bottom: 80px;
  height: 100vh; /* Full height */
  box-sizing: border-box;
  overflow: hidden; /* Prevent overflow of content */
}

.service-image-container {
  width: 100%;
  height: 100%;
  height: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Space between image/video and text */
  cursor: pointer; /* Makes the cursor a pointer */
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 0.3s ease, box-shadow 0.3s ease, brightness 0.3s ease;
}

.service-image:hover {
  transform: scale(1.05); /* Slightly enlarge the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
  filter: brightness(0.9); /* Slightly darken the image */
}

.service-image.fade-out {
  opacity: 0;
  pointer-events: none;
}

.service-video {
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: absolute; /* Ensure the video fills the container */
  top: 0;
  left: 0;
  overflow: visible; /* Ensure controls are not cut off */
  z-index: 5;
}

.service-description-container {
  width: 100%;
  text-align: center;
  padding-left: 0; /* Remove left padding for mobile */
}

.service-description-container h2 {
  margin-bottom: 20px;
}

.service-description-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  position: relative; /* Position the text relative for layering */
}

.service-description-container button {
  padding: 10px 20px;
  font-size: 1rem;
  z-index: 20; /* Ensure the button is clickable */
}

.service-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Ensure the video is on top of the text */
  pointer-events: none;
}

/* Media Query for Larger Screens */
@media (min-width: 768px) {
  .service-page-container {
    flex-direction: row; /* Default to row layout for larger screens */
  }

  .service-description-container {
    width: 50%;
    text-align: left;
    padding-left: 20px; /* Restore padding for larger screens */
  }

  .service-image-container {
    margin-bottom: 0;
    height: auto; /* Adjust height for larger screens */
  }

  .service-video-overlay {
    display: none; /* Remove overlay for larger screens */
  }
}
